<div class="row"> 
<%= simple_form_for(@book, html: {class: "col-md-4 col-md-offset-4 centered"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: false, placeholder: 'Name' %>
    <%= f.input :author, label: false, placeholder: 'Author' %>
    <%= f.input :description, label: false, placeholder: 'Description' %>
    <%= f.input :price, label: false, placeholder: 'Price' %>
    <%= f.input :availability %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
